@inherits LayoutComponentBase
<div class="page">
    <main>
        <div class="top-row px-4">
            <a href="">Dynasty</a>
            <NavLink class="nav-link" href="Confrences" Match="NavLinkMatch.All">
                Confrences
            </NavLink>
            <NavLink class="nav-link" href="RTG" Match="NavLinkMatch.All">
                RTG
            </NavLink>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
